.Home{
  background: $offwhite;
  min-height: calc(100vh - 175px);
  max-width: 100vw;
  .hero-hold{
    max-width: 100vw;
    height: 65vh;
    background: #e0e5e5;
    display: flex;
    .hero-left{
      height: 100%;
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      // border-right: 1px solid black;
    };
    .hero-right{
      height: 100%;
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.home-westenscale-hold{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  img{
    max-height: 25px;
    max-width: 25px;
    margin: 0 !important;
    margin-left: 5px !important;
  }
}

