.Home{
  background: $offwhite;
  min-height: calc(100vh - 175px);
  max-width: 100vw;
  .hero-hold{
    max-width: 100vw;
    height: 50vh;
    background: #e0e5e5;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .hero-top{
      width: 100%;
      height: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
    };
    .hero-bottom{
      width: 100%;
      height: 50%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
    }
  }
}

