.header{
  width: 100vw;
  height: 100px;
  background: $primaryBlue;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
}

.header-logo{
  width: 100px;
  margin-left: 15px;
}

.navbar{
  color: $red;
  font-size: 1.6rem;
  display: flex;
  width: 40vw;
  justify-content: space-between;
  margin-left: 25px;
}

.dropdown{
  position: relative;
}

.navlink:hover{
  color: white;
  cursor: pointer;
}

.dropdown:hover .dropdown-content{
  display: block;
}

.dropdown-content{
  font-size: 1rem;
  display: none;
  position: absolute;
  width: 300px;
  border: 1px solid black;
  background: rgba(0, 0, 0, 0.85);
  padding: 10px;
  h1{
    margin: 5px 0;
  }
}

.white-line{
  border: 1px solid white;
  width: 80%;

}

.window{
  position: relative;
}

