.header{
  width: 100vw;
  height: 100px;
  background: $primaryBlue;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
}

.header-logo{
  width: 100px
}

.navbar{
  color: $red;
  font-size: 2rem;
  display: flex;
  width: 40vw;
  justify-content: space-between;
  margin-left: 25px;
}
.navbar>h1:hover{
  color: white;
  cursor: pointer;
}