/* PRIMARY BLUE #163044 */
/* SECONDARY BLUE #6cafcb */
/* TERTIARY BLUE #518394 */
/* TAN #f9f7b4 */
/* RED #f06b5e */

$primaryBlue: #163044;
$secondaryBlue: #6cafcb;
$tertiaryBlue: #518394;
$tan: #504746;
$red: #f06b5e;
$neutral: #909590;
$offwhite: #f7f7f7